<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kiddo</title>
        <!--favicon -->
        <link rel="icon" href="{{ asset('newFront/img/logo.png') }}" type="image/x-icon"/>

        <!--Bootstrap.min css-->
        <link rel="stylesheet" href="{{ asset('newFront/plugins/bootstrap/css/bootstrap.min.css') }}">
        <!-- Responsive -->
        <link href="{{ asset('newFront/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!--Icons css-->
        <link rel="stylesheet" href="{{ asset('newFront/css/icons.css') }}">

        <!--mCustomScrollbar css-->
        <link rel="stylesheet" href="{{ asset('newFront/plugins/scroll-bar/jquery.mCustomScrollbar.css') }}">

        <!--Style css-->
        <link rel="stylesheet" href="{{ asset('newFront/css/style.css') }}">

        <!--Sidemenu css-->
        <link rel="stylesheet" href="{{ asset('newFront/plugins/toggle-menu/sidemenu.css') }}">
    </head>
    <body>
    {% block header %}
        <header class="header-three">
            <div class="header-top">
                <div class="container">
                    <div class="row ht-area">
                        <ul class="left">
                            <li><span><i aria-hidden="true"></i></span> Solution by LightBringers</li>
                        </ul>
                        <ul class="right">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="main-menu">
                <div class="container">
                    <div class="row no-gutters">
                        <nav class="main-menu-area w-100">
                            <div class="logo-area">
                                <a class="" href="index.html"><img src="front/images/logo.png" alt="logo" class="img-responsive"></a>
                                <button type="button" class="navbar-toggle collapsed d-md-none" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="menu-area">


                                <ul class="menu">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acceuil </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A propos </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos jardins </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="event.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Evenements </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reclamations <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="gallery.html">Passer reclamation</a></li>
                                            <li><a href="gallery-2.html">Consulter reclamations</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="footer-item">
                                <div class="title"><img src="{{ asset('front/images/logo.png') }}" alt="logo" class="img-responsive"></div>
                                <div class="footer-about">
                                    <p>Distily enable team driven services through extensive is a relatonships platforms with interactive content. Enthusiastically scale effective.</p>
                                    <ul>
                                        <li><span><i class="fa fa-home" aria-hidden="true"></i></span> New Chokoya Road, USA.</li>
                                        <li><span><i class="fa fa-phone" aria-hidden="true"></i></span> +8801 923 970 212, 0125897</li>
                                        <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> Contact@admin LabArtisan</li>
                                        <li><span><i class="fa fa-globe" aria-hidden="true"></i></span> Email@admin LabArtisan</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- footer top -->

        </footer>
        <a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        {% endblock %}
        {% block javascripts %}
            <!--Jquery.min js-->
            <script src="{{ asset('newFront/js/jquery.min.js') }}"></script>

            <!--popper js-->
            <script src="{{ asset('newFront/js/popper.js') }}"></script>

            <!--Tooltip js-->
            <script src="{{ asset('newFront/js/tooltip.js') }}"></script>

            <!--Bootstrap.min js-->
            <script src="{{ asset('newFront/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

            <!-- Jquery star rating-->
            <script src="{{ asset('newFront/plugins/rating/jquery.rating-stars.js') }}"></script>

            <!--Jquery.nicescroll.min js-->
            <script src="{{ asset('newFront/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>

            <!--Scroll-up-bar.min js-->
            <script src="{{ asset('newFront/plugins/scroll-up-bar/dist/scroll-up-bar.min.js') }}"></script>

            <!--mCustomScrollbar js-->
            <script src="{{ asset('newFront/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <!--Sidemenu js-->
            <script src="{{ asset('newFront/plugins/toggle-menu/sidemenu.js') }}"></script>

            <!--Formvalidation js-->
            <script src="{{ asset('newFront/js/formvalidation.js') }}"></script>

            <!--Scripts js-->
            <script src="{{ asset('newFront/js/scripts.js') }}"></script>
            <script src="{{ asset('newFront/js/jquery.showmore.js') }}"></script>
        {% endblock %}
    </body>
</html>
